.App {
}

.login-page {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.text-primary {
  color: #000;
}
.text-secondary {
  color: #979797
}